# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
.DS_Store
_*
.*
*.bak
*.lock
*.tmproj
*.tmproject
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.old
*~

# IDEs project files/settings
nbproject/
nbactions.xml
.settings/
.project
.metadata
.properties
.tmproj
*.esproj
.codeintel
*.sublime-*
*.komodoproject
.komodotools
.idea/

# Dependencies Folder
/node_modules/
/asset/lib/*
/vendor/

# Ignore Application Specifics
/application/storage/uploads/*
/application/storage/cache/*
/application/storage/logs/*

# but leave there Application Specifics
!.htaccess
!index.html
!.git*
!.travis.yml
!.editorconfig
!.csslintrc
!.csscomb.json
!.jshintrc
!.jscsrc
!.bowerrc
