<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
    bootstrap="tests/application/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="valse">
    <php>
        <const name="PHPUNIT_TEST" value="1" />
    </php>
    <testsuites>
        <testsuite name="CodeIgniter App Test Suite">
            <directory surfix="test.php">tests/application</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">application</directory>
        </whitelist>
    </filter>
</phpunit>
