

#contents {
  height: 100%;
  width: 100%;
  float: right;

  > .container-fluid {
    height: 100%;
  }
}

#main-contents {
  padding-top: @navbar-padding-horizontal;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -31px;

  > .row {
      padding-bottom: 30px;
  }
}
