
html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 13px;
  padding-top: 40px;
}

.fa {
  font-size: 14px;
}

a,
button,
.btn {
  &:active,
  &:focus, {
    outline: 0;
  }
}

#body {
  position: relative;
}

.container .text-muted {
  margin: 10px 0;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-top: 1px solid @navbar-default-border;

  p {
    margin: 6px 0;
  }
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  .transition(width 1s);
}

.pace-inactive {
  display: none;
}
